<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="sk.lkrnac.discorg.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sk.lkrnac.discorg.perspectives.TreePairPerspective"
            id="discographyorganizer.perspectives.TreePairPerspective"
            name="Tree Pair">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="sk.lkrnac.discorg.view.ReferenceStorageView"
            id="discographyorganizer.views.ReferenceStorageView"
            name="Reference Storage">
      </view>
      <view
            class="sk.lkrnac.discorg.view.InputStorageView"
            id="discographyorganizer.views.InputStorageView"
            name="Input Storage">
      </view>
      <view
            class="sk.lkrnac.discorg.view.MediaIssuesView"
            id="discographyorganizer.views.MediaIssuesView"
            name="Media Issues">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="DiscographyOrganizer.compareToolbar"
               label="Compare">
            <command
                  commandId="DiscographyOrganizer.loadStorages"
                  label="Load"
                  style="push">
            </command>
            <command
                  commandId="DiscographyOrganizer.buildHardLinks"
                  label="Build Hard Links"
                  style="push">
            </command>
            <command
                  commandId="DiscographyOrganizer.syncStorages"
                  label="Synchronize"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sk.lkrnac.discorg.preferences.StoragesPreferencePage"
            id="DiscographyOrganizer.storaged"
            name="Storages">
      </page>
      <page
            class="sk.lkrnac.discorg.preferences.FileNamesPreferencePage"
            id="DiscographyOrganizer.fileNames"
            name="File names">
      </page>
      <page
            class="sk.lkrnac.discorg.preferences.AudioFormatsPreferencePage"
            id="DiscographyOrganizer.audioFormats"
            name="Audio formats">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="sk.lkrnac.discorg.controller.handlers.SyncHandler"
            id="DiscographyOrganizer.syncStorages"
            name="Sync Storages">
      </command>
      <command
            defaultHandler="sk.lkrnac.discorg.controller.handlers.LoadHandler"
            id="DiscographyOrganizer.loadStorages"
            name="Load Storages">
      </command>
      <command
            defaultHandler="sk.lkrnac.discorg.controller.handlers.BuildHardLinksHandler"
            id="DiscographyOrganizer.buildHardLinks"
            name="Build Hard Links">
      </command>
   </extension>

</plugin>
