<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.lkrnac.discorg.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.lkrnac.discorg.perspectives.TreePairPerspective"
            id="discographyorganizer.perspectives.TreePairPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.lkrnac.discorg.view.ReferenceStorageView"
            id="discographyorganizer.views.ReferenceStorageView"
            name="%view.name">
      </view>
      <view
            class="net.lkrnac.discorg.view.InputStorageView"
            id="discographyorganizer.views.InputStorageView"
            name="%view.name.0">
      </view>
      <view
            class="net.lkrnac.discorg.view.MediaIssuesView"
            id="discographyorganizer.views.MediaIssuesView"
            name="%view.name.1">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.label">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="%command.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.label.0"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="DiscographyOrganizer.compareToolbar"
               label="%toolbar.label">
            <command
                  commandId="DiscographyOrganizer.loadStorages"
                  label="%command.label.1"
                  style="push">
            </command>
            <command
                  commandId="DiscographyOrganizer.buildHardLinks"
                  label="%command.label.2"
                  style="push">
            </command>
            <command
                  commandId="DiscographyOrganizer.syncStorages"
                  label="%command.label.3"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.lkrnac.discorg.view.preferences.StoragesPreferencePage"
            id="DiscographyOrganizer.storaged"
            name="%page.name">
      </page>
      <page
            class="net.lkrnac.discorg.view.preferences.FileNamesPreferencePage"
            id="DiscographyOrganizer.fileNames"
            name="%page.name.0">
      </page>
      <page
            class="net.lkrnac.discorg.view.preferences.AudioFormatsPreferencePage"
            id="DiscographyOrganizer.audioFormats"
            name="%page.name.1">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.lkrnac.discorg.controller.handlers.SyncStoragesController"
            id="DiscographyOrganizer.syncStorages"
            name="%command.name">
      </command>
      <command
            defaultHandler="net.lkrnac.discorg.controller.handlers.LoadStoragesController"
            id="DiscographyOrganizer.loadStorages"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="net.lkrnac.discorg.controller.handlers.BuildHardLinksController"
            id="DiscographyOrganizer.buildHardLinks"
            name="%command.name.1">
      </command>
   </extension>

</plugin>
